* {
		margin:0px; 
		padding:0px;
		font-family: 'Special Elite', cursive;
		cursor:url(https://img.icons8.com/metro/26/000000/rock-music.png) 10 3, auto;
	}
	:root{
		background-image:linear-gradient(#3A383A,#EDB9F6);
	}
	.div1{
		background-image:url(../Fotos/ofondo.jpg);
		background-attachment: fixed;
		background-size: 100%;
		background-repeat: no-repeat;
		width:2300px;
		height:3400px;
		margin: 10px auto;
		position: relative;
	}
	h2{
		width: 1100px;
		margin:60px 100px;
		background:#A19B9C;
		padding: 25px;
		top:70px;
		position: relative;
		font-size: 60px;
	}
	#Cuadro4 {
		width: 1600px;
		margin:70px 90px;
		background:#AEAFB0;
		opacity:90%;
		position:absolute;
		font-size: 70px;
		margin:auto;
		padding: 35px;
		top:400px;
		left:330px;
		border-style:groove;
	}